

body{

	background-image: url("tło.jpg");
}

.name{

	width:220px;
	color: black;
	font-size:35px;
	border-radius: 50%;
	text-align: center;
	height:200px;
	background-image: url("słońce.jpg");
	background-position: center;
	position:relative;
	float:left;
	padding-left: 25px;
	padding-top:20px;
	display: flex;
	justify-content: center;
	vertical-align: middle
	
}
.textname{

	margin-top: 10%;
	
	
	position: absolute;
}


.animcss{

	animation-name: krecenie;
	animation-duration: 1s
}



	@keyframes krecenie {
  0% {
    transform: rotate(0deg);
  }
  100% {

    transform: rotate(90deg);
   }
  }

	
.title{
	text-align: center;
}
	


.content{
	width: 100%;
	height: 350px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 15%;
	margin-left: 15px;
	padding-bottom: 50px;
}

	

.cv{
	display: flex;	
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-position: center;
	display: inline-block;
	vertical-align: top ;
	background-image: url("planet2.png");
	position: relative;
}

.skills{
	display: flex;	
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-position: center;
	display: inline-block;
	vertical-align: top ;
	background-image: url("planeta1.jpg");
	position: relative;
}
.portfolio{
	display: flex;	
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-position: center;
	display: inline-block;
	vertical-align: top ; 
    background-image: url("PLANET 3.png");	
	position: relative;
}
.portfolioshow{
	display: flex;	
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-image: url("tło.jpg");
	background-position: center;
	display: inline-block;
	vertical-align: top ; 
	position: relative;
}

.favour{
	display: flex;	
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-position: center;
	display: inline-block;
	vertical-align: top ;
	background-image: url("jupiter_638.jpg");
	position: relative;	

}
.textcv{
 
 display: flex;
 font-size: 20px;
 justify-content: center;
 margin-left: 50%
 width: 30%;
 height:50%;
 color:white;
 margin-top: 50%;
 animation-name: fontbulger;
 animation-duration: 4s;
 animation-iteration-count: 1;
 animation-delay: 5s;
}

.text{
	
 display: flex;
 font-size: 20px;
 justify-content: center;
 margin-left: 50%
 width: 30%;
 height:50%;
 color:white;
 margin-top: 50%;
 animation-name: fontbulger;
 animation-duration: 4s;
 animation-iteration-count: 1;
 animation-delay: 5s;

 }
 .text1{
	
 display: flex;
 font-size: 20px;
 justify-content: center;
 margin-left: 50%
 width: 30%;
 height:50%;
 color:white;
 margin-top: 50%;
 animation-name: fontbulger;
 animation-duration: 4s;
 animation-iteration-count: 1;
 animation-delay: 5s;

 }
 .text2{
	
 display: flex;
 font-size: 15px;
 justify-content: center;
 margin-left: 50%
 width: 30%;
 height:50%;
 color:white;
 margin-top: 50%;
 animation-name: fontbulger;
 animation-duration: 4s;
 animation-iteration-count: 1;
 animation-delay: 5s;

 }

@keyframes fontbulger {
  0% {
    font-size: 15px;
  }
  30% {
    font-size: 23px;
    color: red;
  }
  100% {
    font-size: 20px;
  }
}




.nav{
	display: flex;
	width: 100%;
	color: white;
	height: 50px;
	font-size: 20px;
	display: inline;
}

.nav>ul>li {
    display: inline-block;
    position: relative;
    float:right;
    padding-right:10px;

}


.nav ul {
    list-style: none;
    width: 30%;
    word-spacing: 10px;
    float:right;
}

.time{
float: left;
width: 100px;
}


/* style sekcji*/

.cont{

	position: absolute;
	width: 80%;
	height: 50em;
	bottom: 0%;
	left: 50%;
	margin-left: -9em;
	font-size: 350%;
	font-weight: bold;
	text-align: justify;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(180px) rotateX(25deg);
	color:white;
}


.cont:after{

	position: absolute;
	content: ' ';
	left: 0;
	right: 0;
	top: 0;
	bottom: 60%;
	background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	pointer-events: none;
}

.content1{
	position: absolute;
	top: 100%;
	animation: scroll 200s linear 4s 1;
	animation-play-state: paused;
}

.scroll{
	animation-name: scroll;
	animation-play-state: running;
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}


.content2{

	display: flex;
	width: 100%;
	color: white;
	justify-content: space-between;
	margin-top: 100px;
	
}

.obrazek{

	position:relative;
}
.content3{

	width: 80%;
	color: white;
	height: 400px;	
	margin-left: auto;
	margin-right: auto;
}

.content4{

	width: 80%;
	color: white;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
}

